# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/

# Data & outputs
data/raw/*.html
data/raw/*.json
data/images/
public/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
*.exe
